:root{
    --lightcolor: #E384FF;
    --darkcolor: #191825;
    --lightblue: #865DFF;
    --grey: #443C68;
  }

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: var(--darkcolor);
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  p {
    color: var(--lightblue);
  }
  

  header {
    padding: 40px;
    display: flex;
    justify-content: left;
    background: var(--darkcolor);
    color: var(--darkcolor);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  header figure {
    position: relative;
    background-size: cover;

  }

  header figcaption {
    position: absolute;
    background-color: var(--darkcolor);
    color: var(--lightcolor);
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    top: 30%;
    padding: 20px;
  }

  .content {
    padding: 1%;
    display: flex;
    flex-direction: column;
    background: var(--grey);
    color: var(--lightcolor);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  nav {
    display: flex;
    background-color: var(--lightblue);
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
  
  nav a {
    color: var(--darkcolor);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }
  
  nav a:hover {
    background-color: var(--lightcolor);
  }
 
  section h2{
    margin-right: 10px;
    text-align: center;
    color: var(--lightcolor);
  }

  .aboutmecard p {
    margin-top: 50px;
    text-align: center;
  }

  .aboutmecard img {
    width: 10%;
  }

  .workcard div {
    flex-wrap: wrap;
  }

  .workcard figure {
    border: 3px solid var(--lightblue);
    height: 250px;
    overflow: hidden;
    margin: 5px;
  }

  .placeholders {
    display: flex;
    flex-wrap: wrap;
    max-width: 40%;
  }

  .workcard figure {
    position: relative;
  }

  .workcard figure img {
    opacity: .25;
    transition: .5s ease;
    width: 100%;
  }

  .workcard figure img:hover{
    opacity: 1;
  }

  .workcard figcaption {
    position: absolute;
    background-color: var(--lightblue);
    color: var(--darkcolor);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
    top: 9%;
    padding: 20px;
  }

  .contactmecard {
    display: flex;
  }


  .contactmecard .content {
    width: 100%;
    justify-content: space-evenly;
  }

  .contactmecard a{
    color: var(--lightblue);
    background-color: var(--grey);
  }
  
  footer {
    width: 100%;
    padding: 30px;
    text-align: center;
    background: var(--grey);
    color: var(--lightcolor);
    margin-top: auto;
  }
  
  
  
  .parts {
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .parts section {
    display: flex;
    margin: 5px;
  }
  

  
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }